/* ----- BASIC ----- */

/* ----- Sticky Footer ----- */
html {
    position: relative;
    min-height: 100%;
}

body { margin-bottom: 60px; }

a, a:active, a:visited { color: inherit; }

/* ----- HEADER ----- */

