/* ----- BASIC ----- */

html {
    position: relative;
    min-height: 100%;
}

@font-face {
    font-family: "Cormorant";
    src: url("/assets/fonts/Cormorant-Regular.ttf");
    font-family: "Amatic SC";
    src: url("/assets/fonts/Cormorant-Regular.ttf");
}

body {
    height: 100%;
    margin-bottom: 30px;
    background-image: url("../../static/images/bg.jpg");
    background-color: #ebebe0;
    background-blend-mode: multiply;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    font-family: "Cormorant", serif;
}

.container {
    max-width: 1560px;
}

.content {
    margin-top: 50px;
}

a, a:active, a:visited {
    color: inherit;
    outline: none;
}

.inp {
    display: block;
}

.btn {
    /* background-color: $light-blue; */
    background: $light-blue;
    border: 1px solid $dark-blue;
    border-radius: $border-radius;
    color: $dark-blue;
    padding: 6px 40px;
}
.btn:hover {
    background: $white;
    color: $dark-blue; 
    transition: 0.4s;
    opacity: 0.9;
}

.bigger-btn {
    font-size: $font-size-big;
    text-transform: uppercase;
    width: 200px;
    padding: 15px;
}

.btn.btn-big {
    color: $black;
    border: 1px solid $black;
    width: 400px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: $font-size-biggest;
}
.btn.btn-big:hover {
    background: $white;
}

h1 { margin-bottom: 80px; }

.navbar, .nav-item:last-of-type .nav-link { padding-right: 0; }

.colorblue { color: $dark-blue; }

.close {
    cursor: pointer;
    font-size: $font-size-small;
    position: absolute;
    right: 15px;
}

#word {
    font-family: "Amatic SC", cursive;
}
