$main-color: #1c6ce6;
$dark-blue: #405282;
$bg-color: #CFE3E8; /*aliceblue;*/
$light-blue: #e0f4fd;
$light-blue-opacity-50: rgba(224, 244, 253, 0.5);
$white: #fff;
$black: #000;

$font-size: 16px;
$font-size-resp: 14px;
$font-size-small: 13px;
$font-size-big: 24px;
$font-size-big-resp: 20px;
$font-size-biggest: 30px;
$font-size-words: 60px;

$border-radius: 10px;